body {
    background:#f4f4f4
}

.container {
    width:670px;
    margin:80px auto;
    border:1px solid rgba(0,0,0,0.1);
    padding:15px;
}

h1 {
    font-family:"Open Sans", sans-serif;
    font-weight:100;
    text-align:center;
    text-transform: uppercase;
    color:#666
}

p {
    font-family:"Open Sans", sans-serif;
    font-weight:100;
    text-align:center;
    color:#000
}

a {
    display:inline-block;
    margin:0 auto;
    text-align:center;
    color:black;
    text-decoration: none;
}

a:hover {
    color:rgba(0,0,0,0.7)
}

strong {
    font-style: italic;
    border-bottom:1px dotted black;
}