body {
    width:670px;
    margin:80px auto;
    background:#f4f4f4
}

h1 {
    font-family:"Open Sans", sans-serif;
    font-weight:100;
    text-align:center;
    text-transform: uppercase;
    color:#666
}

p {
    font-family:"Open Sans", sans-serif;
    font-weight:100;
    text-align:center;
    color:#000
}